
@import url("components/container.css");
@import url("components/container-phonescreen.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/header.css");
@import url("components/footer.css");
@import url("components/icons.css");
@import url("components/form-booking.css");
@import url("components/form-login-signup.css");
@import url("components/logo.css");
@import url("components/calories-count.css");
@import url("components/list-meal.css");
@import url("components/card-go-premium.css");
@import url("components/card-activate-premium.css");
@import url("components/membership-option.css");
@import url("components/card-trainer.css");
@import url("components/card-available-trainers.css");
@import url("components/card-trainer-review.css");
@import url("components/health-score.css");
@import url("components/card-daily-workout.css");
@import url("components/card-opinions.css");
@import url("components/avatar-trainer.css");





body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin: 0px;
	text-align: center;

}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	align-items: center;
	text-align: center;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 11px;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 11px;
}
h5 {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
align-items: center;
text-align: center;
color: #F76603;
margin: 0px;
}
h6 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	line-height: 14px;
	align-items: center;
	text-align: center;
	color: black;
	margin: 0px;
}
.container2 {
	margin: 10px auto;
}
.card-app {
	padding: 10px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	text-align: center;

}

.align-center {
	align-items: center;
	text-align: center;
}

.align-left {
	align-items: left;
	text-align: left;
	padding-left: 15px;
}
.list-button-landing {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 200px;
}
.list-button-landing li {
	margin: 50px 0px;
	align-items: center;
	text-align: center;
}
.checked {
  color: #F76603;
  align-items: center;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container2 {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container2 {
    width: 500px;
  }
}
@media (max-width: 640px) {
  /* For a screen < 540px, this CSS will be read */
  .container-phonescreen {
    width: 300px;
  }
}

#mypasttrainers {
	font-size: 24px;
	float: left;
	padding-right: 100px;
	margin: 10px;
	margin-left: 20px;
}

#goback {
	float: left;
	padding-right: 200px;
	padding-left: 10px;
	margin: 10px;
	color: rgba(0, 0, 0, 0.42);
	font-size: 10;
}

.fill-div {
	text-decoration: none;
	color: inherit;
}

#todayis {
	text-align: left;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-left: 15px;
	color: rgba(0, 0, 0, 0.42);
	font-size: 10;
}

#hiname {
	text-align: left;
	padding-left: 15px;
	margin-bottom: 0px;
	margin-top: 5px;
}


#title {
	margin-bottom: 5px;
	margin-top: 0px;
}




