.calories-count {
	width: 320px;
	height: 154px;
	background-color: rgba(196, 196, 196, 0.14);
	border-radius: 33px;
	margin: auto;
}

#remaining {
	color: #C4C4C4;
	padding-top: 15px;
	margin-bottom: 5px;
}

#nb-calories {
	font-size: 56px;
	margin: 0px;
}

#calories {
	margin: 0px;
}