#landing-logo {
	width: 361px;
	height: 114px;
	padding-top: 200px;
}

#login-logo {
	width: 361px;
	height: 114px;
	padding-top: 50px;
}

#signup-logo {
	width: 361px;
	height: 114px;
	padding-top: 50px;
}

#header-logo {
	width: 143px;
	height: 46px;
	padding-left: 30px;
}