/* Pop-up when user click on "Go Premium button */
.card-go-premium {
	width: 374px;
	height: 650px;
	background-color: white;
	border-radius: 40px;
	margin: auto;
}
.card-go-premium h1 {
	padding-top: 20px;
}
.card-go-premium p {
	text-align: left;
	padding-left: 20px;
}
.card-go-premium img {
	width: 248px;
}