.container-phonescreen-black {
	width: 390px;
	height: 750px;
	margin: 30px auto;
	background-color: black;
	background-repeat: no-repeat;
}

.container-phonescreen-grey {
	width: 390px;
	height: 750px;
	margin: 30px auto;
	background-color: #E5E5E5;
	background-repeat: no-repeat;
	position: relative;
}

.container-phonescreen-grey-exercice {
	width: 390px;
	height: 750px;
	margin: 30px auto;
	background-color: #E5E5E5;
	background-repeat: no-repeat;
	position: relative;
}

