.footer {
	display: flex;
	list-style: none;
	background-color:  #FFFFFF;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	height: 64px;
	width: 100%;
	bottom: 0;
	top: 100%;
	overflow: auto;
}

.footer img {
	width: 50px;
}


   