#landing-logo {
	width: 361px;
	height: 114px;
	padding-top: 200px;
}

#login-logo {
	width: 361px;
	height: 114px;
	padding-top: 50px;
}

#signup-logo {
	width: 361px;
	height: 114px;
	padding-top: 50px;
}
