.responsive-header {
	display: flex;
	list-style: none;
	background-color: black;
	justify-content: space-around;
	align-items: center;
	height: 64px;
	width: auto;
}

#bell {
	width: 42px;
	height: 35px;
}

#premium-member {
	color: #ECA335;
	font-size: 8px;
}

.responsive-header img {
	width: 50px;
}
.responsive-header h3 {
	color: orange;
}